@{
    ViewData["Title"] = "Tarefas em Andamento";
}

<div class="text-center">
    <h1 class="display-6">Tarefas em Andamento</h1>
</div>
<br />
<a class="btn btn-dark" href="/Home/Adicionar" style="float: right">
    Adicionar Nova Tarefa
</a>

<a class="btn btn-secondary" href="/Home/Index" style="float: right; margin-right: 5px;">
    Todas as Tarefas
</a>
<br />
@Html.Partial("_PartialTarefas")